@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');

html {
  background: url("../public/images/CastleHouse.png") no-repeat fixed;
  background-size: cover;
}

body {
  width: 1024px;
  margin: auto;
  font-size: 25px;
}

a {
  text-decoration: none;
  color: black;
}

.page {
  background: rgba(200, 200, 200, 0.8);
  border: 2px solid rgb(100, 100, 100);
  padding-top: 10px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  .page {
    margin: auto;
    width: 80%;
  }
}
